.block{
    width: 1192px;
    height: 736px;
    background-color: rgb(0, 0, 77);
}
    table{
    width: 1140px;
    height: 682px;
    vertical-align: center;
    text-align: center;
    border-collapse: collapse;
    font-family: "Arimo", sans-serif;
    text-transform: uppercase;
    color: #484848;
    margin: auto;
}
td{
    box-shadow: -3px 0px 0px 0px rgba(0,0,0,0.15);
}
th{
    font-weight: normal;
}
thead th{
    font-weight: bold;
}
thead tr{
    height: 78px;
    background-color: #fafafa;
    color: #484848;
}
.line1{
    height: 70px;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}
.up{
    font-size: 30px;
}
.down{
    font-size: 18px;
}
thead div{
    position: relative;
    display: inline-block;
}
.big{
    font-size: 60px;
    font-weight: bold;
}
.small{
    position: absolute;
    font-size: 24px;
    top: 12px;
    font-weight: bold;
}
.line1 th{
    color: #484848;
}
.red1{
    background-color: #f04a56;
    font-size: 30px;
}
.green{
    background-color: #89c331;
}
.blue{
    background-color: #20807c;
}
.black{
    background-color: #484848;
}
tbody{

}
tbody tr:nth-child(even){
    background-color: #e3e3e3;
}
tbody tr:nth-child(odd){
    background-color: #f2f2f2;
}
tfoot tr{
    height: 110px;
}
tfoot th{
    background-color: #dddddd;
}
tfoot td{
    background-color: #eee;
}
tfoot a{
    display: inline-block;
    width: 194px;
    height: 48px;
    box-sizing: border-box;
    padding-top: 18px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-align: center;
}
a.black{
    border-bottom: 5px solid #404040;
}
a.green {
    border-bottom: 5px solid #79b027;
}
a.red2{
    border-bottom: 5px solid #df3a46;
    background-color: #f04a56;
}
a.blue{
    border-bottom: 5px solid #16736f;
}
tfoot a:hover{
    box-shadow: inset 50px 19px 300px 0px rgba(0,0,0,0.12);
    color: #ddd;
}
